<!DOCTYPE html>
<html lang="hu">


<head>
    <%- include('../common/head')%>
</head>



<body>

    <!-- ===============================================-->
    <!--    Főmenü -->
    <!-- ===============================================-->
    <main class="main" id="top">

        <head>
            <%- include('../common/header')%>
        </head>


        <!-- ===============================================-->
        <!-- Adatbázis kiíratása -->
        <!-- ===============================================-->
        <div id="main">
            <div class="container">
                <header class="major">
                    <h3>Adatbázis adatainak (táblák) kiíratása:</h3>
                </header>

                <section id="szalloda">
                    <table>
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Név</th>
                                <th>Ország</th>
                                <th>Felpanzio</th>
                                <th>Helyseg</th>
                                <th>Repter</th>
                                <th>Tengerpart</th>
                                <th>Ár</th>
                                <th>Időtartam</th>
                                <th>Indulás</th>
                                <th>Sorszám</th>
                                <th>Szálloda</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% szalloda.forEach(data=> { %>
                                <tr>
                                    <td>
                                        <%= data.az %>
                                    </td>
                                    <td>
                                        <%= data.nev %>
                                    </td>
                                    <td>
                                        <%= data.orszag %>
                                    </td>
                                    <td>
                                        <%= data.felpanzio %>
                                    </td>
                                    <td>
                                        <%= data.helyseg_az %>
                                    </td>
                                    <td>
                                        <%= data.repter_tav %>
                                    </td>
                                    <td>
                                        <%= data.tengerpart_tav %>
                                    </td>
                                    <td>
                                        <%= data.ar %>
                                    </td>
                                    <td>
                                        <%= data.idotartam %>
                                    </td>
                                    <td>
                                        <%= data.indulas.toLocaleString() %>
                                    </td>
                                    <td>
                                        <%= data.sorszam %>
                                    </td>
                                    <td>
                                        <%= data.szalloda_az %>
                                    </td>
                                </tr>
                                <% }); %>
                        </tbody>
                    </table>
                </section>
            </div>
        </div>
        <!-- ===============================================-->


        <footer>
            <%- include('../common/footer')%>
        </footer>


    </main>

    <%- include('../common/javascripts')%>

</body>

</html>