<!DOCTYPE html>
<html lang="hu">

<head>
  <%- include('../common/head') %>
  <link rel="stylesheet" href="/assets/css/messages.css?v=1.0">

</head>

<body>

  <main class="main" id="top">
    <header>
        <%- include('../common/header') %>
    </header>

    <div id="main">
      <div class="container">
        <header class="major">
          <h1 class="fw-bold fs-md-3 fs-lg-4 fs-xl-5">Önök által küldött üzenetek megtekintése</h1>
          <p>Az alábbi táblázat tartalmazza a küldött üzenetek részleteit, beleértve a küldőt, e-mail címet és az elküldés dátumát.</p>
        </header>

        <!-- Táblázat -->
        <section id="uzenetek">
          <table>
            <thead>
              <tr>
                <th>Küldő</th>
                <th>Email cím</th>
                <th>Üzenet</th>
                <th>Elküldés rögzítése</th>
              </tr>
            </thead>
            <tbody>
              <% uzenetek.forEach(uzenet => { %>
              <tr>
                <td><%= uzenet.nev %></td>
                <td><%= uzenet.email %></td>
                <td><%= uzenet.uzenet %></td>
                <td><%= uzenet.datum.toLocaleString() %></td>
              </tr>
              <% }); %>
            </tbody>
          </table>
        </section>
      </div>
    </div>

    <footer>
      <%- include('../common/footer') %>
    </footer>
  </main>

  <%- include('../common/javascripts') %>

</body>

</html>
